body,h1,a{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Microsoft Yahei', sans-serif;
}


.form-control.yc {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius:6px;
	border-bottom-right-radius: 6px;
}

#bg{
	position: absolute;
	z-index: 1;
	background: url('./images/1.jpg')；
	background-size: cover;
	height: 100%;
	width: 100%;

}


#h1{
font-size: 20px;


}

#header{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
    height: 30px;
    background: rgba(21, 24, 27, 0.32);
   /* background: rgba(50, 113, 179, 0.17);*/

}

#header2{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
    height: 30px;
    background: rgba(50, 113, 179, 0.78);

}

.yb{
	float: right;
}

#header a{
	font-family: 'Microsoft Yahei', sans-serif;
	text-decoration: none;
	background: transparent;
	font-size: 15px;
	font-weight: bold;
	line-height: 32px;
	margin: 0 10px 0 10px;
	color: rgba(255, 255, 255, 0.93);
}

#header2 a{
	font-family: 'Microsoft Yahei', sans-serif;
	text-decoration: none;
	background: transparent;
	font-size: 15px;
	font-weight: bold;
	line-height: 32px;
	margin: 0 10px 0 10px;
	color: rgba(255, 255, 255, 0.75);
	}

#zhongjian{
	font-size: 15px;
	color: #FFFFFF;
	text-align: center;
	font-family: "微软雅黑";

	
}

#zhongjian1{
	font-size: 15px;
	color: #ff0000;
	text-align: center;
	font-family: "微软雅黑";

	
}


#guoqing{
	font-size: 17px;
	color: #ff0000;
	font-weight:bolder;
	text-align: center;
	font-family: "微软雅黑";

	
}



#zb{
	float: left;
	
}


#LOGO{
	position: relative;
	height: 100%;
	width: 100%;

}

.LOGO{
	position: relative;
	margin-left: 0;
	margin-top: ;
}

.sLOGO{
	position: relative;
	margin-left: 0;
	margin-top: 15%;
}



#key{
  /*font-size: 18px;*/
  line-height: 28px;
  display: block;
  float: left;
  width: 80%;
  padding: 10px;
  border: none;
  outline: none;
}

#sub-button{
	font-size: 20px;
	line-height: 48px;
	display: block;
	float: left;
	width: 20%;
	height: 48px;
	padding: 0;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border: none;
	background-color: #00b7ff;
}

.footer h5,a{
	text-align: center;
	color: #fff;
}

#footer{
    position: page;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: rgba(21, 24, 27, 0.32);
}


#footer1 {
    position: page;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	visibility: hidden;
	background: rgba(44, 86, 127, 0.67);
}

@media (min-width: 300px){
.LOGO{
	margin-top: 50%;
}

#key{
	line-height: 20px;
	padding: 7px;
}

#sub-button{
	height: 34px;
	font-size: 15px;
	line-height: 34px;
}
}

@media (min-width: 768px){
.LOGO{
	margin-top: 25%;
}
#key{
	line-height: 28px;
	padding: 10px;
}

#sub-button{
	height: 48px;
	font-size: 20px;
	line-height: 48px;
}
}




@media (min-width: 992px){
.LOGO{
	margin-top: 19%;
}
}

.center{
	text-align: center;
	position: auto;
	font-size: 16px;
	font-family: "微软雅黑";
	color: rgba(146, 191, 226, 1);
	
	
}

#dingbu{
    text-align: center;
}

#zuoce{
	text-align: center;
	position: auto;
    color: rgba(146, 191, 226, 1);
    font-size: 16px;
/*	font-family: "微软雅黑";*/
	
	
}

.bgm {
	background: rgba(45, 43, 43, 0.43);
}



#lianjie1{
	text-align: center;
	position: auto;
	color:#f60;
	font-weight: bold;
	font-size: 15px;
	font-family: "微软雅黑";
	
}

#lianjie {
	text-align: center;
	position: auto;
	color: #f7f6f3;
	font-size: 15px;
	font-family: "微软雅黑";
	
}


#fenlei{
	text-align: center;
	position: auto;
	color: rgba(146, 191, 226, 1);
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: bold;
	line-height: normal;
	
}

#fenlei1{
	text-align: center;
	position: auto;
	color: #f00;
	font-weight: bold;
	font-size: 16px;
	font-family: "微软雅黑";
	line-height: normal;
	
}


.zw{
	text-align: center;
	position: auto;
	color: #333;
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: normal;
	
}

.liuyan{
	text-align: center;
	position: auto;
	font-size: 20px;
	font-family: "微软雅黑";
	line-height: normal;
	
}


