/* Customized CSS */

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 200px;
  padding: 0em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
/*.masthead .ui.compact.selection.dropdown {
  min-width: 115px;
}*/
/*.masthead .ui.inverted.submit.button {
  margin-bottom: 10px;
  width: 110px;
}*/

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.links.stripe.segment,
.quote.stripe.segment {
  padding: 1em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  min-height: 50px;
  padding: 2em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

#links .ui.header {
  margin-top: 30px;
  margin-bottom: 40px;
}

#links .ui.button {
  margin-bottom: 7px;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: none;
  }
  .masthead.segment {
    min-height: 50px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
